{% extends "blog/basic.html" %}
{% block title %}
	Blog post 
{% endblock title %}
{% block body %}
<div class="container my-2">
	<h2>This is blog post webpage.</h2>
	<a class="btn btn-primary" href="{% url 'index' %}">Go To Blog Home</a>
</div>
{% endblock body %}
<!--This is second card.-->
<!-- 
<div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <div class="mb-1 text-body-secondary">Nov 11</div>
                <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
            </div>
        </div>
    </div>
 this is blog-post section.
<article class="blog-post">
              
                <h2>Heading 1</h2>
                <p>Heading 1 content.</p>
                <h4>Sub-heading-1</h4>
                <p>Sub-heading-1 content.</p>
            </article>
            <article class="blog-post">
                
                <h2>Heading 2</h2>
                <p>Heading 2 content.</p>
                <h4>Sub-heading-2</h4>
                <p>Sub-heading-2 content.</p>
            </article>





-->